{% extends "acceuilBundle::layout.html.twig" %}
{% block membre %}
	
    <section id="about-us">
	</hr>
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>Devenir membre La CCITNCH </h2> 
					
			 <p class="lead">Adhérer à la CCITNCH :<u> <a href="{{asset('bundles/acceuil/file/Formulaire_adhésion_CCITNCH.pdf')}}" >(Télécharger le formulaire)</a> </u></p>

<p class="lead"> Devenir membre de la CCITNCH vous offre la possibilité de bénéficier de :</p> 

<ul style="list-style-type:disc;">
<li>L’opportunité de développer votre réseau d’affaire à travers les événements et manifestations organisés par la chambre tels que les tables rondes, happy-hour, déjeuner-débat.</li>
<li>La promotion des activités à travers le réseau de la CCITNCH.</li>
<li>L’accès aux informations d’ordre économiques, recherche de statistiques ou d'adresses, en Tunisie et en Suisse.</li>
<li>Mise en relation d'affaires ou de partenariat.</li>
<li>L’accès aux services de nos partenaires (formations, hôtels, avocats, experts-comptables…).</li>
</ul>

			</div>
		
			</div><!--/.container-->
    </section><!--/about-us-->
{% endblock membre %}	
