	
	
	{% extends "acceuilBundle::layout.html.twig" %}
	{% block evenement %}
	
	<section id="blog" class="container">
        <div class="center">
            <h2>L’entreprise d’entrainement : une réponse innovante aux besoins des entreprises et des jeunes diplômés 
			<u>
			<a href="{{ path('acceuil_formulaire')}}" style="margin-left: 50px;  font-size:18px;"> Inscription </a></u>
			</h2>
			
        </div>

        <div class="blog">
            <div class="row">
			
                <div class="col-md-12">
                    <div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">11 Février 2015 </span>
                                    </div>
                                </div>
								
								
								
								
                                <div class="col-xs-8 col-sm-10 blog-content">
								
								
                                  <div class="widget blog_gallery">
						
                         <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-2">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                               
                                   
                                    <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-2">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                   
                                    <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-2">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                               
                                    <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>        
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-2">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                 
                                   
                                    <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>           
                    </div><!--/.portfolio-item-->
          
                    <div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-2">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                 
                                 
                                    <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>      
                    </div><!--/.portfolio-item-->

					<div class="portfolio-item apps col-xs-12 col-sm-4 col-md-2">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                               
                                   
                                    <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                       </div>
           
                    </div><!--/.blog_gallery-->
    			
                                    <p style= "text-align:justify">Une conférence débat s’est tenue le 11 février 2015 au Regency Tunis Hôtel sous le thème : « l’entreprise d’entrainement : une réponse innovante aux besoins des entreprises et des jeunes diplômés ».
La conférence débat a été l’occasion de présenter les dispositifs créés ou soutenus par la Coopération suisse en Tunisie en faveur de l’employabilité des jeunes diplômés tunisiens.
LA  Chef du domaine « Migration et protection » de la Division Coopération Internationale de l’Ambassade de Suisse, Lukas Rüst, a présenté les dispositions de l’Accord relatif à l’échange de jeunes professionnels, entré en vigueur depuis août 2014.
Accord qui rentre dans le cadre du Partenariat migratoire conclu entre la Suisse et la Tunisie en juin 2012 et vise à promouvoir les compétences des jeunes diplômés et professionnels tunisiens (âgés de moins de 35 ans), en leur facilitant l’accès à des stages en Suisse dont la durée peut atteindre 18 mois. 

D’autre par une intervention a été accordé à Walid Trabelsi, directeur d’une entreprise d’entrainement PES pour présenter le fonctionnement de son entreprise. PES et Elan, deux entreprises d’entrainement créées et soutenues par la Confédération des Entreprises Citoyennes de Tunisie (CONECT), en partenariat avec la Fondation Swisscontact. Elles rentrent dans le cadre d’un programme fiancé par la Coopération Suisse destiné  à renforcer le système de recrutement en Tunisie et garantir une meilleure employabilité de jeunes diplômés tunisiens.
Wallird Trabelsi a expliqué, lors de son intervention, que les entreprises d’entrainement proposent à de jeunes diplômés inexpérimentés un véritable contrat à durée déterminée (d'environ 3 mois) leur permettant non seulement de bénéficier d’une première expérience professionnelle à même d’enrichir leur CV mais, surtout, de consolider les « soft skills » indispensables à la réussite et à la pérennité de leur insertion dans le monde professionnel.
Une présentation appuyée par le témoignage de M. Kaïs Mabrouk (PDG et fondateur de First TV) qui a fait part de son expérience dans le cadre d’un recrutement de jeunes professionnels issus de PES. Son témoignage, assure la qualité de la formation professionnel acquis par ces jeunes.
De son côté Faten Banaouas, responsable du Réseau des Entreprises d'Entrainement de Tunisie (REET), a mis l'accent sur le rôle du REET comme certificateur exclusif des EE en Tunisie. Agréé par Helvartis, la centrale suisse des EE, ce réseau assure, conformément à des cahiers de charges spécifiques, trois types de certification : les EE, les encadrants et les compétences acquises par les jeunes formés. 
</p>
                                 
                                </div>
                            </div>
                        </div><!--/.blog-item-->
						
                        
						
                       
                       
						
                    </div><!--/.col-md-8-->
					
					
					
 
				
               
            </div><!--/.row-->
                 
				 
         </div><!--/.blog-->

    </section><!--/#blog-->

{% endblock evenement %}
	
	
	