{% extends "acceuilBundle::layout.html.twig" %}
{% block networking %}
	  
     <section id="blog" class="container">
        <div class="center">
            <h2>Networking</h2>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-12">
				
				<div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                     <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">6 Mars 2014</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>Rencontre de la CCITNCH avec la Chambre Arabo-Suisse à Genève le Jeudi 6 mars 2014  </h3>
                                    <p style= "text-align:justify">La CCITNCH a rencontré la direction de la Chambre Arabo-Suisse à Genève le jeudi 6 mars 2014. A l’occasion de cette rencontre, la Chambre Arobo-Suisse a mis son expérience au profit du comité de direction de la Chambre de Commerce Tuniso-Suisse dans le but de promouvoir ses activités et la soutenir dans la concrétisation de ses objectifs.</p>
                                 <div class="post-tags">
                                       <u> <a href="#">Détails</a> </u>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
				
				 <div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                     <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">5 Mars 2014  </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>Rencontre de la CCITNCH avec la Chambre Vaudoise de Commerce et d’Industrie </h3>
                                    <p style= "text-align:justify">Une rencontre a été organisé le mercredi 5 mars 2014 entre la chambre Vaudoise de Commerce et de l’Industrie représenté par sa sous-directrice Mme Christine Walter-Luz et la CCITNCH représentée par son président M. Samir Khoudja. La rencontre a porté sur les moyens de collaboration et de renforcement des relations bilatérales entre les deux pays. 
									</p>
                                 <div class="post-tags">
                                      <u> <a href="#">Détails</a> </u>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
				

<div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                     <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">5 Mars 2014 </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3> Rencontre de la CCITNCH et la Switzerland Global Entreprise à Lausanne : </h3>
                                    <p style= "text-align:justify">La CCITNCH a rencontré le mercredi 5 mars 2014 Mr Sylvain Jaccard chef de Switzerland Global Entreprise. Le meeting a porté sur les différentes formes de partenariat pouvant être établies entre les deux pays ainsi que les programmes d’encouragement que peut entreprendre la CCITNCH pour la promotion des activités des entreprises tunisiennes en Suisse.</p>
                                 <div class="post-tags">
                                       <u> <a href="#">Détails</a> </u>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                       				
				
                    <div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta" style=" width: 110px;">
                                        <span id="publish_date">10 Octobre 2013</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>La visite de la chambre de commerce et d’industrie de Sfax (CCIS)  le 10/04/2013  S.E.M. L’AMBASSADEUR DE SUISSE A TUNIS et M. Tahar Ktari Vice-Président.</h3>
                                    <p style= "text-align:justify">	Dans le cadre des différents projets de soutien aux régions, Son Excellence Monsieur Pierre COMBERNOUS, Ambassadeur de Suisse à Tunis, est venu rencontrer la communauté d’affaires de Sfax à la Chambre de Commerce et d’Industrie de Sfax le 10 Avril 2013 au siège de la CCIS. Il était accompagné de Madame MoniaRiahi, Attachée Economique de l’Ambassade et de Madame Barbara Dätwyler-Scheuer, Directrice de Coopération (plus particulièrement chargée de la transition démocratique), ainsi que de Monsieur Tahar Ktari, Vice-Président de la CCI Tuniso-Suisse (CCITNCH) et par ailleurs Directeur Régional d’une Société suisse SGS-Tunisie. 
									</p>

                                <div class="post-tags">
                                       <u> <a href="#">Détails</a> </u>
                                    </div>   

                                </div>
                            </div>
                        </div><!--/.blog-item-->
						
						<div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">21 Février 2013 </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>le 21/02/2013 à l’invitation de TUNES à l’EPFL – Lausanne : Conférence de Samir Khoudja Président de la chambre pour présenter la CCITNCH </h3>
                                    <p style= "text-align:justify">Excellente initiative de l’association TUNES (Tunisiens Universitaires en Suisse) qui lance ce jeudi soir, 21 février, à l’EPFL (Lausanne) un cycle de rencontres sous le titre de « Tunnovation : Après la révolution, l’innovation». Il s’agit comme nous l’explique Nebil Mansour, Responsable Pôle Social de l’association, d’un évènement qui accueillera régulièrement des figures économiques qui ont prouvé qu’une success story est bel et bien possible entre la Tunisie et la Suisse.
La première édition de ce jeudi recevra Samir Khoudja, président de la chambre de commerce et de l’industrie Tuniso-Suisse; Bertrand Fischer entrepreneur suisse basé entre la Suisse et la Tunisie; et finalement, Yassine Allani, fondateur de Cogener Sarl, Sun Alpes, Nolaris SA et aujourd’hui à la tête de Allani Sunlife holding qui a des activités en Suisse et en Tunisie.  

									</p>
                                <div class="post-tags">
                                       <u> <a href="#">Détails</a> </u>
                                    </div>  
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                        
						
                       
						
						
                    </div><!--/.col-md-8-->

               
            </div><!--/.row-->
                 
				 <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul><!--/.pagination-->
					
         </div><!--/.blog-->

    </section><!--/#blog-->
		 
{% endblock networking %}