{% extends "acceuilBundle::layout.html.twig" %}
{% block nosevenements %}
	  <section id="blog" class="container">
        <div class="center">
            <h2>Nos évenements</h2>
        </div>

        <div class="blog">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta" style=" width: 110px;">
                                        <span id="publish_date">Mars 2015</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>Nouvelles Tunisie, Nouvelles Opportunités</h3>
                                    <p style= "text-align:justify">	La Chambre de Commerce et d’Industrie Tuniso-Suisse a participé une table-ronde sur le thème : « Nouvelles Tunisie, Nouvelles Opportunités » organisée en partenariat avec le Centre du Commerce Internationale de Suisse (ITC), la Direction Générale de la Promotion des Petites et Moyennes Entreprises et l’Agence Tunisienne de Promotion de l’Investissement Extérieur (FIPA).</p>

                                <div class="post-tags">
                                    <u> <a href="{{ path('acceuil_evenement')}}">Détails</a> </u>
                                </div>   

                                </div>
                            </div>
                        </div><!--/.blog-item-->
						
						<div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">11 Février 2015 </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>L’entreprise d’entrainement : une réponse innovante aux besoins des entreprises et des jeunes diplômés </h3>
                                    <p style= "text-align:justify">Une conférence débat s’est tenue le 11 février 2015 au Regency Tunis Hôtel sous le thème : « l’entreprise d’entrainement : une réponse innovante aux besoins des entreprises et des jeunes diplômés »… </p>
                                  <div class="post-tags">
                                        <u> <a href="#">Détails</a> </u> 
                                    </div>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                        
						<div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                     <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">30 janvier 2015 </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>L’exposition Paul Klee, Louis Moilliet et Auguste Macke </h3>
                                    <p style= "text-align:justify">La Chambre de Commerce et d’Industrie a participé à l’exposition Paul Klee, Louis Moilliet et Auguste Macke le 30 janvier 2015. Une exposition organisée en collaboration avec le Goethe Institut, le ministère de la culture Tunisien, l’ambassade d’Allemagne ainsi que l’ambassade de Suisse, le musée du Bardo pour rendre hommages  aux trois artistes dont l’aventure à caractère artistique s’est étendue de Tunis à Kairouan en 1914 et a fait l’objet de plusieurs œuvres d’art.
									</p>
                                 <div class="post-tags">
                                       <u> <a href="#">Détails</a> </u>
                                </div>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                       
                        <div class="blog-item">
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                     <div class="entry-meta" style="width: 110px;">
                                        <span id="publish_date">16 décembre 2014  </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h3>Le micro-mentorat pour la communauté tunisienne résidente en Suisse </h3>
                                    <p style= "text-align:justify">La CCITNCH a organisé une table ronde ayant pour thème : « Le micro-mentorat pour la communauté tunisienne résidente en Suisse »  le 16 décembre 2014 au Swissôtel Métropole de Genève. (photo).
La table ronde a été animé par le Président de la CCITNCH Samir Khoudja et la secrétaire générale Emna Allani en présence l’équipe du projet Communauté Tunisienne Résidente en Suisse pour le développement Olfa Hachani Assistante Incubateur CTRS INVEST et la Chargée Migration et Développement en Suisse, Ramla Allani.
</p>
                                 <div class="post-tags">
                                        <u> <a href="#">Détails</a> </u>
                                    </div>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
						
                    </div><!--/.col-md-8-->

               
            </div><!--/.row-->
                 
				 <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul><!--/.pagination-->
					
         </div><!--/.blog-->

    </section><!--/#blog-->


		 
{% endblock nosevenements %}