{% extends "acceuilBundle::layout.html.twig" %}
{% block  organisation %}
	 <section id="feature" class="transparent-bg" style="  padding-bottom: 0px;">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Historique</h2>
                <p class="lead" style= "text-align:justify">La CCITNCH a été créée par une initiative d’hommes et de femmes d’affaires tuniso-suisses 
				avec l’appui de l’Ambassade de Suisse en Tunisie dans le but de dynamiser les relations entre les deux pays. La CCITNCH veuille à 
				garantir l’engagement de la  Tunisie et la Suisse pour appuyer la société civile dans le développement économique, la transition 
				démocratique et à favoriser l’échange et la coopération bilatérale de façon coordonnée et complémentaire dans différents domaines 
				d’activités. </p>
            </div>
           <div class="center wow fadeInDown">
                <h2>Sa vocation</h2>
                <p class="lead" style= "text-align:justify">La Chambre de Commerce et d’Industrie Tuniso-Suisse s’adresse à toutes les entreprises tunisiennes, suisses ou mixtes, notamment les PME/PMI qui souhaitent exporter, importer, diversifier leurs marchés, rechercher des partenaires ou des  représentants, investir et s’implanter en Tunisie ou en Suisse

L’objectif principal de la CCITNCH est de proposer aux opérateurs économiques Tunisiens et Suisses un large éventail de prestations à même de répondre à leurs attentes  spécifiques.

La CCITNCH vise à  promouvoir et consolider la communication, l’aide et l’échange pour les entreprises Tunisiennes basées en Suisse et pour les  entreprises Suisses basées en Tunisie et ce pour leur faciliter les démarches administratives, juridiques et autres…
</p>
            </div>
		<!--/.container-->
    </section><!--/#services-->
	
<section id="feature" class="transparent-bg" style=" padding-bottom: 0px; padding-top: 0px;">
	
        <div class="container">
		<div class="center wow fadeInDown" style="visibility: visible;padding-bottom: 10px;">
                <h2>Qui sommes-nous?</h2>
				
	     </div>
		<div class="clients-area center wow fadeInDown" style="visibility: visible;padding-top: 0px;padding-bottom: 0px;">
                <h3>Le Conseil d’administration :</h3>
			<hr  size="6px">
		</div>
    <div class="row">
	 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/team-member.jpg" class="img-circle" alt="">
                        <h3>	Mme Rita Adam  </h3>
                        <h4><span>Ambassadeur de Suisse: Présidente d’honneur</span></h4>
                    </div>
                </div>
				 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt="">
                        <h3>M. Samir Khoudja </h3>
                        <h4><span>BOBST Group: Président</span></h4>
                    </div>
                </div>
				 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt="">
                        <h3>M. Youssef Hachich  </h3>
                        <h4><span>ROCHE : Vice-Président</span></h4>
                    </div>
                </div>
				 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="{{asset('bundles/acceuil/images/client2.png')}}" class="img-circle" alt="">
                        <h3>M. Tahar Ktari  </h3>
                        <h4><span>SGS Tunisie: Vice-Président chargé de la communication</span></h4>
                    </div>
                </div>
				 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt="">
                        <h3>M. Sofiane Ghorbel </h3>
                        <h4><span>CFB Hotels: Trésorier</span></h4>
                    </div>
                </div>
				 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/team-member.jpg" class="img-circle" alt="">
                        <h3>Mme Emna Allani  </h3>
                        <h4><span>Viaxom : Secrétaire Générale</span></h4>
                    </div>
                </div>
				 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/team-member.jpg" class="img-circle" alt="">
                        <h3>Mme Cyrine Hafaiedh </h3>
                        <h4><span>AON Tunisie: Secrétaire générale adjointe</span></h4>
                    </div>
                </div>
				 <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt="">
                        <h3>Taoufik Ouanès  </h3>
                        <h4><span>Avocat : Administrateur</span></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/team-member.jpg" class="img-circle" alt="">
                        <h3>Mme Emma Bernegger Ben Haouala</h3>
                        <h4><span>Napolis: Administrateur</span></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/team-member.jpg" class="img-circle" alt="">
                        <h3>Mme Monia Riahi  Maâouia </h3>
                        <h4><span>Ambassade de Suisse en Tunisie</span> </h4>
                    </div>
                </div>
                
				<div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt="">
                        <h3>M. Moncef Chaouch  </h3>
                        <h4><span>SOS Surveillance & EXPRESS BANK</span></h4>
                    </div>
                </div>
				
                <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client2.png" class="img-circle" alt="">
                        <h3>	M. Rachid Khattate </h3>
                        <h4><span> Nestlé Tunisie</span> </h4>
                    </div>
                </div>
		 <div class="clients-area center wow fadeInDown" style="visibility: visible;padding-top: 0px;padding-bottom: 0px;">
                <h3> Membres d'honneur:</h3>
			<hr  size="6px">
		</div>
				<div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client3.png" class="img-circle" alt="">
                        <h3>M. Pierre Combernous </h3>
                        <h4><span> Ancien Ambassadeur de Suisse en Tunisie et Président d’honneur</span></h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown" style="width:360px; height:393px;">
                    <div class="clients-comments text-center">
                        <img src="images/client3.png" class="img-circle" alt="">
                        <h3>M. Mohamed Bennacer </h3>
                        <h4><span></span></h4>
                    </div>
                </div>
           </div>        

	</div><!--/.container-->
    </section><!--/#services-->
             
 
		 
{% endblock organisation %}