{% extends "acceuilBundle::layout.html.twig" %}
{% block partenariat %}
	  
	<section>
       <!-- <div class="container">-->
             
	        <nav class="" >
            <div class="container">
        
        <div class="navpartenariat">
                                <ul ">
								
								    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Projet de coopération tuniso-suisse : Le CTRS INVEST</a></li>
                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Projet de coaching pour les jeunes diplômés </a></li>
                                    
                                </ul>
                            </div>

                            <div class="parrent media-body">
                                <div class="tab-content">

                                    <div class="tab-pane fade" id="tab1">
                                        <div class="media">
                                           
                                            <div class="media-body">
									 <p >										
											La CCITNCH accorde une grande importance à la formation professionnelle des jeunes diplômes tunisiens, ce qui fait qu’elle se positionne comme partenaire du projet de coaching pour les jeunes diplômés intitulé « Les entreprises d’entrainement » (EE). Le projet est initié par la Confédération des entreprises citoyennes tunisiennes (CONECT), Swisscontact et la coopération Suisse (Swissagency for development and coopération SDC).
											</br>
											La CCITNCH intervient pour :
											<ul style="list-style-type:disc;">
													<li>Promouvoir le projet auprès des entreprises membres de la Chambre.</li>
													<li>Faciliter l’insertion des jeunes diplômés à travers son réseau de contact.</li>
													<li>Soutenir les jeunes diplômés dans l’apprentissage et le développement de leurs connaissances. </li>
											</ul>
											</br>
											Pour plus d’information nous vous invitons à visiter le site web :<a href="www.swisscontact.org"> www.swisscontact.org </a>
									</p>
                                            </div>
                                        </div>
                                    </div>

                                     <div class="tab-pane fade active in" id="tab2">
                                        <div class="media">
                                         
                                            <div class="media-body">
                                               
                                                 <p>
												 <ul style="list-style-type:disc;">

<li>	La CCITNCH travaille en étroite collaboration avec l’Ambassade de Suisse en Tunisie, œuvrant ainsi à la mise en place de projet de coopération tuniso-suisse sur maints domaines de l’économie tunisienne en vue les promouvoir.</li> 
<li>	La CCITNCH est l’un des partenaires clés du projet de l’Incubateur CTRS INVEST, composante du Projet Communauté tunisienne résidente en Suisse, à côté de ses partenaires publics mandatés en matière d’accompagnement et d’investissement en Tunisie (APII, APIA, FIPA...) ainsi que d’autres organismes et experts qui soutiennent l’initiative du projet pour encourager le transfert de compétences en Tunisie.</li>
<li>	Le CTRS INVEST est une structure d’accompagnement initié par la CCITNCH, en partenariat avec la Division Coopération Internationale de l’Ambassade de Suisse en Tunisie, destinée à renforcer l’implication de la Communauté Tunisienne Résidente en Suisse (CTRS) à travers la création de projet en Tunisie en vue d’une meilleure contribution à l’essor économique national plus particulièrement les zones défavorisées.</li>
<li>	Le CTRS INVEST est fondé sur la riche expérience des membres de la Chambre de Commerce et d’Industrie Tuniso-Suisse, qui dotée d’un large réseau composé d’hommes et de femmes d’affaires tuniso-suisse et chefs de multinationales suisses, compte sur leurs compétences en matière de création d’entreprises et leurs connaissances des politiques d’investissements dans les deux pays pour offrir un accompagnement gratuit de proximité et sur mesure aux porteurs de projets. </li>
</ul>
Le dispositif CTRS INVEST vise : 
</br>
 <ul style="list-style-type:disc;">
<li>Le renforcement de l’implication de la CTRS dans le développement socio-économique national plus particulièrement dans les zones défavorisées.</li> 
<li>Le transfert des compétences tunisiennes résidentes en Suisse à travers l’accompagnement de la CTRS pour la création de projets en Tunisie.</li>
<li>L’accompagnement d’environ 40 porteurs de projets, dont au moins 10 femmes sur une période de 5 ans.  
Vous pouvez prendre contact avec nous directement (voir contact) ou nous faire parvenir votre <a href="Fiche de Projet- CTRS Invest.pdf"> fiche de projet (mise à disposition sur notre site)</a> via l’adresse de l’Assistante Incubateur CTRS Invest :<a href="olfa.hachani@tuniso-suisse.org"> olfa.hachani@tuniso-suisse.org</a>
Si vous êtes professionnel ou entrepreneur et vous avez une riche expérience à partager ? Vous pouvez participer au réseau des micro-mentors de la CCITNCH afin de mettre à profit votre savoir-faire en coachant des porteurs de projet.
 </li> </ul>
 </p>
                                            </div>
                                        </div>
                                     </div>
 
                                     
 

 
                 
       <!-- <div class="container">-->
             
	        
            
        
			</div >
			</div>
			</nav>
 </section>
	
{% endblock partenariat %}